<div class="container">
    <div class="row">
        <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
            <ul class="event-list" *ngFor="let e of employees">
                <li>
                    <time datetime="2014-07-20">
                        
                    </time>
                    <img alt="User Icon" src="https://cdn0.iconfinder.com/data/icons/PRACTIKA/256/user.png" />
                    <div class="info">
                        <h2 class="title">{{e.employeeName}}</h2>
                        <p class="desc">{{e.employeeId}}</p>
                        <p class="desc">{{e.designation}}</p>
                        <ul>
                            <li style="width:50%;"><a href="#"><span class="fa fa-globe"></span> More Info</a></li>
                            <li style="width:50%;"><span class="fa fa-user"></span> {{e.reportingManager}}</li>
                        </ul>
                    </div>
                    <div class="social">
                        <ul>
                            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
