<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<legend>Submit Expense</legend>

<div class="form-group">
    <label class="col-md-4 control-label" for="empid">Employee ID</label>
    <div class="col-md-4">
        <input id="empid" name="empid" placeholder="Employee ID" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Select Basic -->
<div class="form-group">
    <label class="col-md-4 control-label" for="selectbasic">Title</label>
    <div class="col-md-4">
        <select id="selectbasic" name="selectbasic" class="form-control">
            <option value="1">Mr</option>
            <option value="2">Ms</option>
        </select>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="name">Name</label>
    <div class="col-md-4">
        <input id="name" name="name" placeholder="Name" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="design">Designation</label>
    <div class="col-md-4">
        <input id="design" name="design" placeholder="Designation" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="dob">Date Of Birth</label>
    <div class="col-md-4">
        <input id="dob" name="dob" placeholder="Date Of Birth" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="design">Skill Set</label>
    <div class="col-md-4">
        <input id="skill" name="skill" placeholder="Skill Set" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Select Basic -->
<!--<div class="form-group">
    <label class="col-md-4 control-label" for="EtatC">Etat Civil</label>
    <div class="col-md-4">
        <select id="EtatC" name="EtatC" class="form-control">
            <option value="1">Marié(e)</option>
            <option value="2">Divorcé(e)</option>
            <option value="3">Séparé(e)</option>
            <option value="4">Célibataire</option>
            <option value="5">Veuf(ve)</option>
        </select>
    </div>
</div>-->
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Email</label>
    <div class="col-md-4">
        <input id="email" name="email" placeholder="Email" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Mobile</label>
    <div class="col-md-4">
        <input id="mobile" name="mobile" placeholder="Mobile" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="email">Alternate Number</label>
    <div class="col-md-4">
        <input id="alternatenumber" name="alternatenumber" placeholder="Alternate Number" class="form-control input-md" required="" type="text">
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine1">Address Line1</label>
    <div class="col-md-4">
        <input id="AddressLine1" name="AddressLine1" placeholder="Address Line1" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine2">Address Line2</label>
    <div class="col-md-4">
        <input id="AddressLine2" name="AddressLine2" placeholder="Address Line2" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="AddressLine3">Address Line3</label>
    <div class="col-md-4">
        <input id="AddressLine3" name="AddressLine3" placeholder="Address Line3" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="zipCode">ZipCode</label>
    <div class="col-md-2">
        <input id="zipCode" name="zipCode" placeholder="ZipCode" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="country">Country</label>
    <div class="col-md-2">
        <input id="country" name="country" placeholder="Country" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="state">State</label>
    <div class="col-md-4">
        <input id="state" name="state" placeholder="State" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fathername">Father Name</label>
    <div class="col-md-4">
        <input id="fathername" name="fathername" placeholder="Father Name" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="mothername">Mother Name</label>
    <div class="col-md-4">
        <input id="mothername" name="mothername" placeholder="Mother Name" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fdob">Father Date Of Birth</label>
    <div class="col-md-4">
        <input id="fdob" name="fdob" placeholder="Father Date Of Birth" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="fdob">Mother Date Of Birth</label>
    <div class="col-md-4">
        <input id="mdob" name="mdob" placeholder="Mother Date Of Birth" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactname">Emergency Contact Name</label>
    <div class="col-md-4">
        <input id="emergencycontactname" name="emergencycontactname" placeholder="Emergency Contact Name" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactrelation">Emergency Contact Relation</label>
    <div class="col-md-4">
        <input id="emergencycontactrelation" name="emergencycontactrelation" placeholder="Emergency Contact Relation" class="form-control input-md" required="" type="text">

    </div>
</div>
<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="emergencycontactnumber">Emergency Contact Number</label>
    <div class="col-md-4">
        <input id="emergencycontactnumber" name="emergencycontactnumber" placeholder="Emergency Contact Number" class="form-control input-md" required="" type="text">

    </div>
</div>

<!-- Text input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="edob">Emergency Contact DOB</label>
    <div class="col-md-4">
        <input id="edob" name="edob" placeholder="Emergency Contact DOB" class="form-control input-md" required="" type="text">
        <span class="help-block">format :DD/MM/YYYY</span>
    </div>
</div>
<div class="form-group">
    <label class="col-md-4 control-label" for="reportingmanager">Reporting Manager</label>
    <div class="col-md-4">
        <input id="reportingmanager" name="reportingmanager" placeholder="Reporting Manager" class="form-control input-md" required="" type="text">

    </div>
</div>

<!-- Button -->
<div class="form-group">
    <label class="col-md-4 control-label" for="send">Submit/Edit</label>
    <div class="col-md-4">
        <button id="send" name="send" type="submit" class="btn btn-primary">Submit</button>
        <button id="edit" name="edit" type="submit" class="btn btn-info">Edit</button>
    </div>
</div>

</fieldset>
</form>
