<h1> Your Expense Details</h1>
<p class="bg-success" style="padding:10px;margin-top:20px;clear:both">
    <a [routerLink]="['/my-expenses/']" class="btn btn-info"><i class="glyphicon glyphicon-backward"></i> Back</a>
</p>
<hr/>
<form class="form-horizontal">
    <fieldset *ngFor="let e of expenses">
        <!-- Form Name -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expid">Expense ID</label>
            <div class="col-md-4">
                <input id="expid" name="expid" placeholder="Expense ID" value="{{e.expenseId}}" class="form-control input-md" readonly type="text" #expIdInput>

            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="empid">Employee ID</label>
            <div class="col-md-4">
                <input id="empid" name="empid" placeholder="Employee ID" value="{{e.employeeId}}" class="form-control input-md" readonly type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Employee Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Name" value="{{e.employeeName}}" class="form-control input-md" readonly type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="edob">Expense Date</label>
            <div class="col-md-4">
                <input id="edob" name="edob" placeholder="Expense Date" value="{{e.expenseDate}}" class="form-control input-md" readonly type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sdob">Submit Date</label>
            <div class="col-md-4">
                <input id="sdob" name="sdob" placeholder="Submit Date" value="{{e.submitDate}}" class="form-control input-md" readonly type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!--Readonly-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adob">Approved Date</label>
            <div class="col-md-4">
                <input id="adob" name="adob" placeholder="Approved Date" value="{{e.approvedDate}}" required class="form-control input-md" readonly type="text" #approvedDate>
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Expense Category -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectExpCategory">Expense Category</label>
            <div class="col-md-4">
                <select id="selectExpCategory" name="selectExpCategory" class="form-control">
                    <option value="{{e.expCategory.categoryId}}">{{e.expCategory.category}}</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="amount">Amount</label>
            <div class="col-md-4">
                <input id="amount" name="amount" placeholder="Amount" value="{{e.amount}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="totalamount">Total Amount</label>
            <div class="col-md-4">
                <input id="totalamount" name="totalamount" value="{{e.totalAmount}}" placeholder="Total Amount" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expenseDetails">Expense Details</label>
            <div class="col-md-4">
                <input id="expenseDetails" name="expenseDetails" placeholder="Expense Details" value="{{e.expenseDetails}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        <!-- Upload input-->
   <!--     <div class="form-group">
            <label class="col-md-4 control-label" for="docupload" >Upload Documents</label>
            <div class="col-md-4">
                <input type="file" #fileInput />
            </div>
        </div>-->
    
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="approvername">Approver Name</label>
            <div class="col-md-4">
                <input id="approvername" name="approvername" placeholder="Approver Name" value="{{e.approverName}}" class="form-control input-md" readonly type="text">
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="status">Ticket Status</label>
            <div class="col-md-4">
                <input id="status" name="status" placeholder="Ticket Status" class="form-control input-md" value="{{e.ticketStatus}}" readonly #reasonInput type="text">
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="reason">Reason</label>
            <div class="col-md-4">
                <input id="reason" name="reason" placeholder="Reason" class="form-control input-md" value="{{e.reason}}" readonly #reasonInput type="text">
            </div>
        </div>

     </fieldset>
</form>
