<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search for expense by Id or Name or Designation or Manager" #empIdInput/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" (click)="searchEmployee()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" (click)="clearEmployee()"><span class="glyphicon glyphicon-erase" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form *ngIf="showHide"  class="form-horizontal">
    <fieldset *ngFor="let e of expenses">
        <!-- Form Name -->
        <legend>Fetched Expense</legend>

        <div class="form-group">
            <label class="col-md-4 control-label" for="empid">Employee ID</label>
            <div class="col-md-4">
                <input id="empid" name="empid" placeholder="Employee ID" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Employee Name</label>
            <div class="col-md-4">
                <input id="name" name="name" placeholder="Name" class="form-control input-md" required="" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="edob">Expense Date</label>
            <div class="col-md-4">
                <input id="edob" name="edob" placeholder="Expense Date" class="form-control input-md" required="" type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sdob">Submit Date</label>
            <div class="col-md-4">
                <input id="sdob" name="sdob" placeholder="Submit Date" class="form-control input-md" required="" type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!--Readonly-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="adob">Approved Date</label>
            <div class="col-md-4">
                <input id="adob" name="adob" placeholder="Approved Date" readonly class="form-control input-md" required="" type="text">
                <span class="help-block">format :DD/MM/YYYY</span>
            </div>
        </div>
        <!-- Expense Category -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectExpCategory">Expense Category</label>
            <div class="col-md-4">
                <select id="selectExpCategory" name="selectExpCategory" class="form-control">
                    <option value="1">Visa</option>
                    <option value="2">Party</option>
                    <option value="3">Cab</option>
                </select>
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="amount">Amount</label>
            <div class="col-md-4">
                <input id="amount" name="amount" placeholder="Amount" class="form-control input-md" required="" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="totalamount">Total Amount</label>
            <div class="col-md-4">
                <input id="totalamount" name="totalamount" placeholder="Total Amount" class="form-control input-md" required="" type="text">
            </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expenseDetails">Expense Details</label>
            <div class="col-md-4">
                <input id="expenseDetails" name="expenseDetails" placeholder="Expense Details" class="form-control input-md" required="" type="text">
            </div>
        </div>
        <!-- Upload input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expenseDetails">Upload Documents</label>
            <div class="col-md-4">
                <input type="file" #fileInput />
            </div>
        </div>
    
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="approvername">Approver Name</label>
            <div class="col-md-4">
                <input id="approvername" name="approvername" placeholder="Approver Name" class="form-control input-md" required="" type="text">
            </div>
        </div>
        
        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="reason">Reason</label>
            <div class="col-md-4">
                <input id="reason" name="reason" placeholder="Reason" class="form-control input-md" required="" type="text">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="send">Submit/Edit</label>
            <div class="col-md-4">
                <button id="send" name="send" type="submit" class="btn btn-primary">Approve</button>
                <button id="cancel" name="cancel" type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
        
     </fieldset>
</form>
